[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DynForest"]
	path = DynForest
	url = https://github.com/anthonydevaux/dynforest
